body {
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

input {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 15px;
    font-size: 14px;
    background-color: burlywood;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:active {
    background-color: chocolate;
}

#playerTwo {
    display: none;
}